<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <br><br>

    <p th:text=
               "'Welcome '
               + ${authorization?.getActive() ? authorization.getUsrName() : 'new user'}
               + '! This is a home page!'">
    </p>

    <form id="startForm"
          th:object="${authorization}"
          th:action="@{${authorization?.getActive() ? '/signout' : '/signin'}}">

        <input id="mainSignIn"
               class="btn btn-success"
               type="submit"
               th:value="${authorization?.getActive() ? 'Sign Out' : 'Sign IN'}"/>
    </form>

</div>

</body>
</html>