<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <br><br>
    <p th:text="${authorization?.getActive() ? 'You are already signed in as ' + authorization.usrName : '' }"></p>
    <form id="startForm"
          th:action="@{${authorization?.getActive() ? '/home' :'/signin/byGoogleCred'}}">
        <input class="btn btn-success"
               id="googleSignIn"
               type="submit"
               th:value="${authorization?.getActive() ? 'Home': 'Sing In Via Google Account' }"/>
    </form>
</div>

</body>
</html>